<div class="bearing"></div>

<div class="main">
  <h1>{{nav.performance|translate}}</h1>

  <search-comp (onFilterChanged)="onFilterChanged($event)" [context]="'performance'"></search-comp>

  <error-msg *ngIf="error"></error-msg>

  <div class="forever-scroll card-list" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="100" (scrolled)="onScroll();">
    <summary *ngFor="let performance of items" [entity]="performance | summary: 'event'" [eclass]="'expression'"></summary>

    <loading *ngIf="querying || scrollInProgress"></loading>

  </div>

</div>
