<div class="bearing"></div>

<div class="main">
  <h1>{{'nav.expression'|translate}}</h1>

  <search-comp (onFilterChanged)="onFilterChanged($event)"></search-comp>

  <error-msg *ngIf="error"></error-msg>

  <div class="forever-scroll card-list" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="100" (scrolled)="onScroll();">
    <summary *ngFor="let expression of items" [entity]="expression | summary: 'expression'" [eclass]="'expression'"></summary>

    <loading *ngIf="querying || scrollInProgress"></loading>

  </div>

</div>
