<div class="bearing" *ngIf="!expression"></div>
<error-msg *ngIf="error"></error-msg>

<loading *ngIf="querying"></loading>

<article *ngIf="expression" class="expression-detail">
  <section class="overview">
    <div [ngStyle]="{'background-image': 'url('+overviewPic+')'}" class="bg"></div>
    <div class="overview-cont">
      <div class="title-cont">
        <p class="composer" *ngIf="expression.composer">
          <a [routerLink]="['/artist/', getId('composer')]" *ngFor="let composer of getProp('composer', true)">{{composer.label}}</a>
        </p>
        <h1 class="title" *ngIf="expression.name">
          {{expression.name}}
          <small *ngIf="expression.order">
            <span *ngIf="startsWithNum(expression.order)">n. </span>
            {{expression.order}}
          </small>
        </h1>
        <p class="other-title" [innerHTML]="expression.alternateName | jsonLDval: ['lang','array']"></p>

        <div class="note">
          <p [innerHTML]="expression.description | jsonLDval: ['lang','array']"></p>
        </div>

      </div>

      <div class="info-cont">
        <div class="sources">
          <a href='{{ expression.sameAs || getSource(expression.source).uri }}' rel="external" target="blank" class="source">
            <img src='{{getSource(expression.source).img}}' alt='{{getSource(expression.source).label}}' title="data from {{getSource(expression.source).label}}" />
          </a>
        </div>
        <div class="info-card">

          <div *ngIf="expression.key">
            <label>{{'Musical key'|translate}}</label>
            <span *ngFor="let key of getProp('key', true)">
              <a [routerLink]="['/expression']" [queryParams]="{ key: key.uri }">{{key.label}}</a>
            </span>
          </div>
          <div *ngIf="expression.genre">
            <label>{{'Genre'|translate}}</label>
            <span *ngFor="let genre of getProp('genre', true)">
              <a [routerLink]="['/expression']" [queryParams]="{ genre: genre.uri}">{{genre.label}}</a>
            </span>
          </div>
          <div *ngIf="expression.opus">
            <label>{{'Opus'|translate}}</label>
            <span>{{expression.opus}}</span>
          </div>
          <div *ngIf="expression.catalogue">
            <label>{{'Catalogue'|translate}}</label>
            <span>{{expression.catalogue}}</span>
          </div>

          <div *ngIf="expression.mop">
            <label>{{'Casting'|translate}}</label>
            <ul style="list-style-type: none; margin: 0; padding: 0">
              <li *ngFor="let mop of getProp('mop', true)" class="instr icon-right-dir">
                <a [routerLink]="['/expression']" [queryParams]="{ mop: mop.uri}">{{mop.label}}</a>
                <span *ngIf="mop.quantity">({{mop.quantity}})</span>
                <strong *ngIf="mop.responsibility">{{mop.responsibility}}</strong>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="main info flexy">
    <section>
      <timeline *ngIf="dates && dates.length > 0" [dates]="this.dates"></timeline>

      <section class="realisations" *ngFor="let evtGroup of expression.events | keys">
        <h2><strong>{{evtGroup.value.length}}</strong>{{class2Label(evtGroup.key)}}</h2>
        <div class="card-list">
          <summary *ngFor="let evt of evtGroup.value" [entity]="evt | summary: evt.class" [eclass]="evt.class"></summary>
        </div>
      </section>
    </section>

    <section class="recommendation-cont">
      <recommendation [seed]="expression.uri"></recommendation>
    </section>
  </div>
</article>
