<div class="top_info">
  <div class="main-img">
    <div class="video">
      <iframe id="video1" src="https://www.youtube.com/embed/sdE3bGV0qYI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class='main-text card'>
    <h2 style="font-size: 150%;">Egmont</h2>
    <p>Musique de scène pour la tragédie de Johann Wolfgang von Goethe. Comprend : Ouverture ; Lied (Die Trommel gerühret) ; Zwischenakt I ; Zwischenakt II ; Lied (Freudvoll und leidvoll) ; Zwischenakt III ; Zwischenakt IV ; Musik, Clärchens Tod bezeichnend ; Melodram ; Siegessymphonie</p>
    <div>
      <span>Composer: </span>
      <span><a href="http://data.bnf.fr/13891295/ludwig_van_beethoven/">Beethoven,Ludwig van(1770-1827)</a></span>
    </div>
    <div>
      <span>Date Composition: </span>
      <span><a>1809/1810</a></span>
    </div>
    <div>
      <span>Genre: </span>
      <span><a>Musique de scène</a></span>
    </div>
    <div>
      <span>Opus: </span>
      <span><a>Op. 84</a></span>
    </div>
  </div>
</div>
<div class="content">
  <p style="font-size: 20px; padding: 0 10px; align-self: left;">{{composed}}</p>
  <span [ngClass]="class" (click)="showDetails();"></span>
</div>
<div class="content">
  <div class="tab-container" [ngStyle]="{'display': display}">
    <ul>
      <li *ngFor="let subDetail of subDetails"
        [class.selected]="isSelected(subDetail)"
        (click)="onSelect(subDetail)">
        <label>{{subDetail.shortname}}</label>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
