<div class="bearing"></div>

<div class="main">
  <h1>{{'nav.score'|translate}}</h1>

  <search-comp (onFilterChanged)="onFilterChanged($event)" [context]="'score'"></search-comp>

  <error-msg *ngIf="error"></error-msg>

  <div class="forever-scroll card-list" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="100" (scrolled)="onScroll();">
    <summary *ngFor="let score of items" [entity]="score|summary" [eclass]="'score'"></summary>

    <loading *ngIf="querying || scrollInProgress"></loading>
  </div>

</div>
