@import "rupture"
@import "../../styles/dep/vars"
@import '../../../node_modules/material-shadows/material-shadows'

.forever-scroll
  height: auto;
  overflow: hidden;

.expression-detail
  .recommendation-cont
    h3
      margin-bottom 0
      padding .3em
      border-top 1px solid alpha(#333, .3);
      color alpha(#333, .6)
      font-variant small-caps
    .empty-msg
      text-align center
      color alpha(#333, .3)
      margin 1em

.main-text
  width 50%
  font-weight lighter
  flex 2 0 auto
  & > h2
    font-family Roboto, sans-serif
    font-size 1.4em
    font-weight bold
    color main
  & > p
    font-family Roboto, sans-serif
    font-weight normal
    font-size 1em
  & > div > span
    font-size 100%
    font-family Roboto, sans-serif
    font-weight normal
    &:before
      content: ", "
    &:first-of-type:before
      content none
    & > a
      color seaMedium
      font-family Roboto, sans-serif
      font-weight normal
      cursor pointer
      font-size 100%
  label
    margin-right .5em

.instr
  font-size 90%
  margin 0
  padding-left 20px
  cursor default

.card-container
  display inline-block
  vertical-align top
  padding .6em
  height 320px
  > mat-card
    width 240px
    height 100%
    margin auto
    overflow hidden
    cursor pointer
    background #fff

.realisations
  h2
    color main
    font-size 1em
    strong
      margin .3em
      font-size 1.6em
