<error-msg *ngIf="error"></error-msg>

<loading *ngIf="querying"></loading>
<article *ngIf="artist" vocab="http://schema.org/" typeof="Person" [attr.about]="artist['@id']" class="artist-detail">
  <jsonld *ngIf="artist" [object]="artist"></jsonld>

  <section class="overview">
    <div [ngStyle]="{'background-image': 'url('+ (artist.image || overviewPic) +')'}" class="bg"></div>
    <div class="overview-cont">
      <div class="title-cont">
        <div class="artist-round">
          <img property="image" md-card-avatar [src]="artist.image || 'static/img/artist_placeholder.png'">
        </div>

        <h1 class="title" property="name" [innerHTML]="artist.name | jsonLDval: 'lang'"></h1>
        <p class="other-title" property="additionalName" [innerHTML]="artist.additionalName| jsonLDval: ['lang','array']"></p>

        <div class="note" property="description">
          <p [outerHTML]="artist.description | jsonLDval : 'lang'"></p>
        </div>

      </div>

      <div class="info-cont">
        <div class="sources">
          <a href='{{sa.uri}}' rel="external" target="blank" class="source" *ngFor="let sa of sameAs">
            <img src='{{sa.img}}' alt='{{sa.label}}' title="{{sa.label}}" />
          </a>
        </div>
        <div class="info-card">

          <div *ngIf="artist.birthDate">
            <label>Birth Date</label>
            <span>{{artist.birthDate}}</span>
          </div>
          <div *ngIf="artist.deathDate">
            <label>Death Date</label>
            <span>{{artist.deathDate}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="compositions">
    <h2><strong>{{compositions.length}}</strong> Expressions as composer</h2>
    <div class="card-list">
      <div *ngFor="let a of compositions; let i = index">
        <summary [entity]="a | summary: a['@type']" *ngIf="i<compositionShown" [eclass]="a['@type']"></summary>
      </div>
      <button class="long" (click)="compositionShown= compositionShown+ 10">Show More</button>
    </div>
  </section>

  <!-- TODO title to performances -->
  <!-- <section id="performances">
    <h2><strong>{{performances.length}}</strong> Performances as performer</h2>
    <div class="card-list">
      <div *ngFor="let a of performances; let i = index">
        <summary [entity]="a | summary: a['@type']" *ngIf="i<4" [eclass]="a['@type']"></summary>
      </div>
    </div>
  </section> -->

</article>
