@import "../../styles/dep/vars"

:host
  display inline-block
  vertical-align top
  margin .5em
  text-align center
  width artistRoundDim + 5

article
  padding 1em
  cursor pointer
  &:hover
    background alpha(#000, .05)

h3
  margin-bottom 0

p
  margin 0
  opacity .8
  font-size .9em

.description
  white-space pre-wrap
  font-size .8em
  + .dates
    display none
