<error-msg *ngIf="error"></error-msg>
<loading *ngIf="querying"></loading>

<article *ngIf="artist" vocab="http://schema.org/" typeof="Person" [attr.about]="artist['@id']" class="artist-detail">
  <jsonld *ngIf="artist" [object]="artist"></jsonld>

  <section class="overview">
    <div [style.background-image]="safePic(artist.image || overviewPic)" class="bg"></div>
    <div class="overview-cont">
      <div class="title-cont">
        <div class="artist-round">
          <img property="image" mat-card-avatar [src]="artist.image || 'static/img/artist_placeholder.png'"></div>

        <h1 class="title" property="name" [innerHTML]="artist.name | jsonLDval: 'lang'"></h1>
        <p class="other-title" property="additionalName" [innerHTML]="artist.additionalName| jsonLDval: ['lang','array']"></p>

        <div class="note" property="description">
          <p [innerHTML]="artist.description | jsonLDval : 'lang'"></p>
        </div>

      </div>

      <div class="info-cont">
        <div class="sources">
          <a href='{{sa.uri}}' rel="external" target="blank" class="source" *ngFor="let sa of sameAs">
            <img src='{{sa.img}}' alt='{{sa.label}}' title="{{sa.label}}" />
          </a>
        </div>
        <div class="info-card">

          <div *ngIf="artist.birthDate">
            <label>{{'birth'|translate}}</label>
            <span *ngIf="artist.birthPlace">{{artist.birthPlace}},</span>
            <span>{{artist.birthDate}}</span>
          </div>
          <div *ngIf="artist.deathDate">
            <label>{{'death'|translate}}</label>
            <span *ngIf="artist.deathPlace">{{artist.deathPlace}},</span>
            <span>{{artist.deathDate}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="main info flexy" *ngIf="!artistrec">
    <section id="works" *ngIf="functionList">
      <div *ngFor="let f of functionList">
        <h2>
        <strong>{{getByFunction(f).length}}</strong>
         {{'nav.expression'|translate}} {{'as'|translate}} {{f|jsonLDval}}</h2>

        <div class="card-list">
          <div *ngFor="let a of getByFunction(f)|slice:0:functions[f] let i = index">
            <summary [entity]="a | summary: a['@type']" [eclass]="a['@type']"></summary>
          </div>
          <button  *ngIf="functions[f] < getByFunction(f).length" class="long" (click)="functions[f] = functions[f] + 10">{{'show more'|translate}}</button>
        </div>
      </div>
    </section>

    <section id="performances" *ngIf="pFunctionList">
      <div *ngFor="let f of pFunctionList">
        <h2>
        <strong>{{getByFunction(f, true).length}}</strong>
         {{'nav.performance'|translate}} {{'as'|translate}} {{f}}</h2>

        <div class="card-list">
          <div *ngFor="let a of getByFunction(f, true)|slice:0:pFunctions[f] let i = index">
            <summary [entity]="a | summary: a['@type']" [eclass]="a['@type']"></summary>
          </div>
          <button *ngIf="pFunctions[f] < getByFunction(f, true).length" class="long" (click)="pFunctions[f] = pFunctions[f] + 10">{{'show more'|translate}}</button>
        </div>
      </div>
    </section>

    <section class="recommendation-cont" *ngIf="artist">
      <artist-recommendation [seed]="artist['@id']" id="artist-recommendation" [(big)]="artistrec"></artist-recommendation>
    </section>

  </div>

  <div class="main info" *ngIf="artistrec">
    <artist-recommendation [seed]="artist['@id']" [n]="7" [(big)]="artistrec"></artist-recommendation>
  </div>

</article>
