.top-nav
	display flex
	justify-content space-between
	align-items center

	flex-flow row wrap
	padding 1em

	.sections-part
		flex-grow 4
		text-align center
		a
			display inline-block
			cursor pointer
			padding .5em
			margin 0 .5em
			font-size .9em
			border-radius .3em
			&:hover, &:focus
				text-decoration none
				background alpha(#000, .18)

	button[md-icon-button]
		font-size 21px
