.top-nav
  display flex
  justify-content space-between
  align-items center

  flex-flow row wrap
  padding 1em

  .sections-part
    flex-grow 4
    text-align center
    a
      display inline-block
      cursor pointer
      padding .5em
      margin 0 .5em
      font-size .9em
      border-radius .3em
      position relative
      outline none
      &.active:after
        content ''
        display block
        position absolute
        background #fff
        height 2px
        width calc(100% - 1em)
      &:hover, &:not(.active):focus
        text-decoration none
        background alpha(#000, .18)

  button[md-icon-button]
    font-size 21px
    background none

  .search-bar
    pointer-events none
    opacity 0

    background #fff
    color #000

    position absolute
    bottom 0
    left 0
    width 100vw
    height 100%
    padding 1em

    display flex
    justify-content space-between
    align-items center

    transition opacity ease-in-out 100ms

    &.open
      pointer-events all
      opacity 1

    form
      flex 1 1
      height 100%

    input
      font-size 1.1em
      border none
      width 100%
      height 100%
      outline none

    button
      flex 0 0 2em
