<div class="top-nav">

  <a [routerLink]="['']" title="Overture Home" class="fullLogo">Overture</a>

  <span class="flex-span"></span>

  <nav class="sections-part">
    <a *ngFor="let r of routes" [routerLink]="r.name" [routerLinkActive]="'active'">{{r.label}}</a>
  </nav>

  <span class="flex-span"></span>

  <button md-icon-button disableRipple id="openSearch" class="light" (click)="openSearch()">
    <md-icon class="mdi mdi-magnify"></md-icon>
  </button>

  <div class="search-bar" [ngClass]="{'open': showSearch}">
    <form (ngSubmit)="onSearchSubmit($event)" #fullSearchForm="ngForm">
      <input #fullSearchInput type="search" class="fullSearch" placeholder="Search for something (i.e. Sonata, Mozart, ...)" [(ngModel)]="searchInput" name="search" on-focusout="closeSearch()" required />
    </form>

    <button md-icon-button disableRipple id="openSearch" (click)="closeSearch()">
      <md-icon class="mdi mdi-close"></md-icon>
    </button>

  </div>
</div>
