<div class="title">
      <h1> Title </h1>
</div>
<div class="main-part">

      <iframe class="video2" width="560" height="315" src="https://www.youtube.com/embed/haseluAw20M" frameborder="0" allowfullscreen></iframe>

    <div class='description-panel'>
         <h3 class="desc"> Description Panel </h3>
         <br>
         <p class="desc"> Performer: </p>
         <p class="desc"> Period:</p>
         <p class="desc"> Date:</p>
         <p class="desc"> Instruments: </p>
         <p class="desc"> Place:</p>
     </div>
</div>
<div class="main-part">
<div class="title">
    <h1> To see also </h1>
</div>
<div class="main-part">
  <div class="video2">
    <iframe  src="https://www.youtube.com/embed/haseluAw20M" frameborder="0" allowfullscreen></iframe>
    <h3 class="desc"> Description Panel </h3>
  </div>
  <div class="video2">
      <iframe  src="https://www.youtube.com/embed/haseluAw20M" frameborder="0" allowfullscreen></iframe>
      <h3 class="desc"> Description Panel </h3>
  </div>
  <div class="video2">
        <iframe  src="https://www.youtube.com/embed/haseluAw20M" frameborder="0" allowfullscreen></iframe>
        <h3 class="desc"> Description Panel </h3>
  </div>

  </div>
</div>
