<div class="home">
  <div class="cover">
    <div>
      <h1>Discover the catalog of DOREMUS</h1>
      <a md-raised-button [routerLink]="['expression']">Explore the Expressions</a>
    </div>
  </div>
  <div class="descriptive main">
    <div class="img-cont">
      <img src="static/img/polaroids.png"/>
    </div>
    <p>
      OVERTURE allows you to explore data about classical and jazz works coming from the French National Library (BnF) and the Philharmonie of Paris. This data is also available in our triplestore at
      <a href="http://data.doremus.org/sparql">data.doremus.org/sparql</a>.
    </p>
  </div>
  <div class="divider" style="background-image:url('static/img/classical_music_composers_montage.jpg')"></div>
  <div class="descriptive main">
    <p>
      The DOREMUS project has the ambitious goal of improving music description to foster music exchange and reuse. We travel to the heart of the musical archives in France’s greatest institutions and publish musical metadata on the web of data.
      <a href="http://www.doremus.org">Learn more</a>.
    </p>
    <div class="img-cont">
      <img src="/static/img/logos/doremus.logo.png"/>
    </div>
  </div>
</div>
