@import "./vars"

$base-size = 100px
$circle-color = main

.loading
  text-align center
  width 7em
  margin 2em auto
  position relative
  .circle
    width: $base-size
    height: $base-size
    border-radius: 50%
    background: $circle-color
    animation: scale-normal 1.3s ease-in-out infinite
  .transparent
    opacity: .4
    position: absolute
    top: 0
    left: 0
    animation: scale-reverse 1.3s ease-in-out infinite


@keyframes scale-normal
  0%
    transform: scale(0.7)
  50%
    transform: scale(0.5)
  100%
    transform: scale(0.7)

@keyframes scale-reverse
  0%
    transform: scale(0.5)
  50%
    transform: scale(0.7)
  100%
    transform: scale(0.5)
