.content
  height 100%
  width 100%
  display flex
  justify-content flex-start
  flex-flow row wrap
  font-size 0
  align-items left

.tab-container
  width 150px
  flex 0 0 auto
  height 100%
  padding 10px
  margin 0
  ul
    list-style none
    text-align center
    position relative
    right -12px
    li
      margin 4px 0
      height 40px
      a
        font-size 16px
        text-decoration none
        color #666
        display block
        align-items center
        padding 0px 5px
        line-height 40px
        height 40px

        border 1px solid #666
        border-left 8px solid #666
        background-color #ddd
        &:hover
          border-left-color seaLight
          color #000
          cursor pointer
        &.active
          border-right-color rgba(255,255,255,0.8)
          background-color rgba(255, 255, 255, 0.57)
          border-left-color #006699

.main-container
  width auto
  font-size 15px
  flex 2 0 auto
  padding 10px
  height 100%
  background-color rgba(255, 255, 255, 0.57)
  border 2px solid #888
  height 95%
  margin-top 10px
