.image
  position center !important
  width 80% !important
  height 360px !important
  margin auto !important
  #google-map
    position center !important
    width 80% !important
    height 360px !important
    margin auto !important
.main-part
  height 100%
  width 100%
  display flex
  justify-content space-around
  flex-flow row wrap
  align-items center

.title-panel
  flex 1 0 auto
  width 100%

.desc
  color #a80000 !important
  margin-left 5%
  font-family 'Lato', sans-serif
  font-weight 800

.video2
  margin auto
  flex 1 0 auto
  align-content center
  & iframe
    margin: 0 auto;
    display block
    width 100%
    max-width 300px
.desc2
  margin: 10px auto;
  color black
  text-align center
  width 70%
  font-size 100%
  font-weight 800
  background-color #D0D0D0
  box-shadow 5px 5px 5px grey

.info
  margin-left 2% !important
  color black !important

.page-panel
  margin-left 45%
  width 100%
  margin-bottom 5%

.page
    color #a80000 !important
    margin-left 1%
    font-family 'Lato', sans-serif

.comment-panel
  width 90%
  flex 1 0 auto
  align-self flex-start
  background-color #D8D8D8
  margin-left 5%
  margin-top 4%
  margin-bottom 4%
  box-shadow 5px 5px 5px grey

.right
  margin-left 75%
