.image
  position center !important
  width 80% !important
  height 360px !important
  margin auto !important
  #google-map
    position center !important
    width 80% !important
    height 360px !important
    margin auto !important
.main-part
  display flex
  flex-flow row wrap
  flex 1 0 auto
  height auto
  width 100%
.description-panel
  width 35%
  height auto
  background-color #D8D8D8
  margin 10% 2% 2% 2%
  box-shadow 5px 5px 5px grey
  flex 1 0 auto
.title-panel
  flex 1 0 auto
  width 100%

.desc
  color #a80000 !important
  margin-left 5%
  font-family 'Lato', sans-serif
  font-weight 800

.video2
  margin 4% 0% 4% 2%
  flex 1 0 auto
  & iframe
    width 70%
    max-width 300px
.desc2
  color black
  text-align center
  width 70%
  font-size 100%
  font-weight 800
  background-color #D0D0D0
  box-shadow 5px 5px 5px grey

.info
  margin-left 2% !important
  color black !important

.page-panel
  margin-left 45%
  width 100%
  margin-bottom 5%

.page
    color #a80000 !important
    margin-left 1%
    font-family 'Lato', sans-serif

.main-img
  flex 1 0 auto
  height 100%
  width 35%
  padding 10px
  .video1
    position relative
    width 100%
    height auto
  .video1 iframe
    position absolute
    left 0
    top 0
    width 75%
    height 200px
    margin-left 15%
    margin-top 2.5%

.comment-panel
  width 90%
  background-color #D8D8D8
  margin-left 5%
  margin-top 4%
  margin-bottom 4%
  box-shadow 5px 5px 5px grey

.right
  margin-left 75%
