.title
  width: 35%
  margin-left: 2%
  margin-right: 10%

.main-part
    background-color rgba(#404040, 0.5)
    height 100%
    width 100%
    display flex
    flex-flow row wrap

.description-panel
  width: 35%
  background-color: rgba(0,0,0,0.5)
  margin 2% 2% 2% 2%

.desc
  color white
  margin-left 5%
  font-family 'Lato', sans-serif
  font-weight lighter

 .video2
   margin: 2% 0% 2% 10%
