.square-box
  position relative
  width auto
  height 250px
  overflow hidden
  background #4679BD
  top 60px
  word-wrap break-word
  border-radius 10px
  background-color #404040
  &:before
    content ""
    display block

.square-content
  height 250px
  top 0
  left 0
  bottom 0
  right 0

.main-video
  display inline-block
  float left
  width 30%
  height 230px
  padding 10px
  #video1
    height 230px
    width 100%

.main-text
  padding-left 15px
  overflow hidden
  float left
  padding 10px
  display inline-block
  width 63%
  height 230px
  & > h2
    font-family 'Lato', sans-serif
    font-size 100%
    font-weight bold
  & > p
    color rgba(#ffffff, 0.95)
    font-family 'Lato', sans-serif
    font-size 80%
  & > h2#title0
    color #396
  & > h2#title1
    color #9e009e
  & > h2#title2
    color #963

#but
  z-index 1

@media screen and (max-width: 950px)
  .main-text
    & > p
      height 0
      visibility hidden

@media screen and (max-width: 650px)
  .square-box
    height 500px
  .square-content
    height 500px
  .main-text
    display inline
    width 90%

  .main-video
    display inline
    width 90%
