<a [routerLink]="['/']" title="Overture Home" class="fullLogo">Overture</a>
<span class="flex-span"></span>
<div class="sections-part">
  <a id="work" [routerLink]="['/work']">Work</a>
  <a id="expression" [routerLink]="['/expression']">Expression</a>
  <a id="performance" [routerLink]="['/performance']">Performance</a>
  <a id="recording" [routerLink]="['/recording']">Recording</a>
  <a id="score" [routerLink]="['/score']">Score</a>
  <a id="person" [routerLink]="['/person']">Person</a>
</div>
<span class="flex-span"></span>
<button md-icon-button id="openSearch" class="light" (click)="clickSearch()">
  <md-icon class="mdi mdi-magnify" ></md-icon>
</button>
