#left_menu ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 70px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
#left_menu ul#navigation li {
    width: 100px;
    cursor: pointer;
}

#left_menu ul#navigation li:hover span {
    margin-left: 0px;
}

#left_menu ul#navigation li span {
    display: block;
    margin-left: -60px;
    width: 70px;
    height: 50px;
    background-color: rgba(105, 187, 240, 1);
    background-repeat:no-repeat;
    background-position:center center;
  	box-shadow: 0px 0px 2px rgba(51, 102, 153, 1);
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
}

#left_menu .menu-icon {
	display: block;
	font-size: 30px;
	color: #7093B7;
	text-align: center;
	padding: 18px 0 0px;
	background-image: none;
}
