/* Master Styles */
h1 {
  color: #369;
  font-family: 'Lato', sans-serif;
  font-size: 250%;
}
h2{
  color: #9e009e
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}
h3 {
  color: #963;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: 'Lato', sans-serif;
}
.dor-sub{
  color: #396;
  font-family: 'Lato', sans-serif;
  font-size: 120%;
  margin-left: 1;
  margin-top: 0;
}
