<div class="home">
  <div class="cover">
    <div>
      <h1>{{'home.heading' | translate}}</h1>
      <a mat-raised-button [routerLink]="['expression']">{{'home.big-button' | translate}}</a>
    </div>
  </div>
  <div class="descriptive main">
    <div class="img-cont">
      <img src="static/img/polaroids.png" />
    </div>
    <p>
      {{'home.app_descr'|translate}}
      <a href="http://data.doremus.org/sparql">data.doremus.org/sparql</a></p>
  </div>
  <div class="divider" style="background-image:url('static/img/classical_music_composers_montage.jpg')"></div>
  <div class="descriptive main">
    <p>
      {{'home.doremus_descr'|translate}}
      <a href="http://www.doremus.org">{{'learn_more' | translate}}</a>
    </p>
    <div class="img-cont">
      <img src="/static/img/logos/doremus.logo.png" />
    </div>
  </div>
</div>
