<header class="header">
  <div class="bg" [ngStyle]='{opacity: headerOpacity}'></div>
  <top-nav></top-nav>
</header>
<router-outlet></router-outlet>
<footer id="appFooter">
  <div class="footerCont">
    <div>
      <p class="descr">
        The data here visualized come from the musical libraries of:
      </p>
      <ul class="data-sources">
        <li>
          <a class="logo-link" href="http://www.bnf.fr/" rel="external" target="_blank" title="Bibliothèque nationale de France | BnF">
            <img src="/static/img/logos/bnf.logotipo.png" alt="Bibliothèque nationale de France | BnF" />
          </a>
        </li>
        <li>
          <a class="logo-link" href="http://philharmoniedeparis.fr/" rel="external" target="_blank" title="Philharmonie de Paris">
            <img src="/static/img/logos/philharmonie.logotipo.png" alt="Philharmonie de Paris" />
          </a>
        </li>
        <li>
          <a class="logo-link" href="http://www.radiofrance.fr/" rel="external" target="_blank" title="Radio France">
            <img src="/static/img/logos/radiofrance.png" alt="Radio France" />
          </a>
        </li>
      </ul>
    </div>
    <div>
      <p class="descr">
        OVERTURE lives inside the
        <a href="http://www.doremus.org" rel="external" target="_blank">DOREMUS project</a>, for describing, publishing, connecting and contextualizing music catalogues on the web of data.
      </p>
      <a href="http://www.doremus.org" rel="external" target="_blank">ABOUT</a>
      <!-- TODO credit popup -->
      <a href="https://github.com/DOREMUS-ANR/overture/graphs/contributors" rel="external" target="_blank">CREDITS</a>
    </div>
    <div class="projLogoCont">
      <a class="logo-link" href="http://www.doremus.org" rel="external" target="_blank">
        <img src="/static/img/logos/doremus.logo.png" />
      </a>
    </div>
  </div>
</footer>
