<ul>
  <li *ngFor="let d of dates">
    <time datetime="d.date">{{(d.time && d.time.start.year()) || '?'}}</time>

    <label *ngIf="d.type=='creation'">
      <!--  TODO replace with ngPlural when bug fixed https://github.com/angular/angular/issues/12363 -->
      <ng-container *ngIf="d.agent.length == 0">The work is created</ng-container>
      <ng-container *ngIf="d.agent.length == 1">{{d.agent[0]}}
        composes the work</ng-container>
      <ng-container *ngIf="d.agent.length > 1">{{d.agent.join(', ')}}
        compose the work</ng-container>
    </label>

    <label *ngIf="d.type=='premiere'">
      Premiere
      <small>{{d.description}}</small>
    </label>

    <label *ngIf="d.type=='publication'">
      1st Publication
      <small>{{d.description}}</small>
    </label>

  </li>
</ul>
