<div class="searchbox">
  <form class="main">
    <mat-form-field class="field" *ngIf="toBeShown('year')">
      <input matInput pattern="\d{4}" placeholder="{{'Year'|translate}}" [(ngModel)]="filter.year" name="year" (ngModelChange)="changeFilter($event)" />
    </mat-form-field>

    <mat-form-field class="field" *ngIf="toBeShown('place')">
      <input matInput placeholder="{{'Place'|translate}}" [(ngModel)]="filter.place" name="place" (ngModelChange)="changeFilter($event)" />
    </mat-form-field>

    <mat-form-field class="field" *ngIf="toBeShown('title')">
      <input matInput placeholder="{{'Title'|translate}}" [(ngModel)]="filter.title" name="title" (ngModelChange)="changeFilter($event)" />
    </mat-form-field>

    <mat-form-field class="field" *ngIf="toBeShown('composer')">
      <input matInput placeholder="{{'Composer'|translate}}" [(ngModel)]="filter.composer" name="composer" (ngModelChange)="changeFilter($event)" />
    </mat-form-field>

    <mat-form-field class="field" *ngIf="toBeShown('key')">
      <input type="text" placeholder="{{'Musical key'|translate}}" aria-label="Number" matInput [formControl]="search.key" [matAutocomplete]="auto" name="filter.key" (ngModelChange)="emptyFilter($event, 'key')">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="changeFilter($event, 'key')">
        <mat-option *ngFor="let item of result.key" [value]="item">
          {{item.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="field" *ngIf="toBeShown('genre')">
      <input type="text" placeholder="{{'Genre'|translate}}" aria-label="Number" matInput [formControl]="search.genre" [matAutocomplete]="auto" name="filter.genre" (ngModelChange)="emptyFilter($event, 'genre')">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="changeFilter($event, 'genre')">
        <mat-option *ngFor="let item of result.genre" [value]="item">
          {{item.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <mat-form-field class="field" *ngIf="toBeShown('mop')">
      <input type="text" placeholder="{{'Instruments'|translate}}" aria-label="Number" matInput [formControl]="search.mop" [matAutocomplete]="auto" name="filter.mop" (ngModelChange)="emptyFilter($event, 'mop')">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="changeFilter($event, 'mop')">
        <mat-option *ngFor="let item of result.mop" [value]="item">
          {{item.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </form>
</div>
