<header class="header">
  <top-nav></top-nav>
</header>
<router-outlet></router-outlet>
<footer id="appFooter">
  <div class="footerCont">
    <div>
      <p class="descr">
        OVERTURE lives inside the
        <a href="http://www.doremus.org" rel="external" target="_blank">DOREMUS project</a>, for describing, publishing, connecting and contextualizing music catalogues on the web of data.
      </p>

      <a href="http://www.doremus.org" rel="external" target="_blank">ABOUT</a>
      <!-- TODO credit popup -->
      <a href="https://github.com/DOREMUS-ANR/overture/graphs/contributors" rel="external" target="_blank">CREDITS</a>
    </div>
    <div class="projLogoCont">
      <a href="http://www.doremus.org" rel="external" target="_blank">
        <img src="/static/img/logos/doremus.logo.png" />
      </a>
    </div>
  </div>
</footer>
