<search-comp *ngIf="search"></search-comp>
<div *ngIf="expression" class="top_info">
  <div class="main-img">
    <div class="video">
      <img src='static/img/defPicExpr.png'>
      <!-- <iframe id="video1" src="https://www.youtube.com/embed/sdE3bGV0qYI" frameborder="0" allowfullscreen></iframe> -->
    </div>
  </div>
  <div class='main-text'>
    <h2 style="font-size: 150%;" *ngIf="expression.title">{{expression.title}}</h2>
    <p *ngIf="expression.note">{{expression.note}}</p>
   <div *ngIf="expression.key">
      <span>Key: </span>
      <span><a href={{expression.keyURI}}>{{expression.key}}</a></span>
    </div>
    <div *ngIf="expression.genre">
      <span>Genre: </span>
      <span><a href={{expression.genreURI}}>{{expression.genre}}</a></span>
    </div>
    <div *ngIf="expression.opus">
      <span>Opus: </span>
      <span><a>{{expression.opus}}</a></span>
    </div>
    <div *ngIf="expression.catalogue">
      <span>Catalogue: </span>
      <span><a>{{expression.catalogue}}</a></span>
    </div>
    <div *ngIf="expression.composer">
      <span>Composer: </span>
      <span><a>{{expression.composer}}</a></span>
    </div>
    <div style="display: flex; flex-flow: row wrap;" *ngIf="expression.casting || expression.castingNotes.length > 0">
      <span>Casting: </span>
      &nbsp;
      <span style="width: auto; align-self: left;">{{expression.casting}}</span>
      <span *ngIf="expression.castingNotes.length > 0" (click)="openInstruments();" [ngClass]="class" style="width: 16px; height: 16px; padding: 0"></span>
    </div>
    <ul [ngStyle]="{'display': display}" style="list-style-type: none; margin: 0; padding: 0;" *ngIf="expression.castingNotes">
      <li *ngFor="let note of expression.castingNotes" class="instr icon-right-dir">{{note}}</li>
    </ul>
    <div style="display: flex; flex-flow: row wrap;">
      <span>Discover: </span>
      &nbsp;
      <span (click)="openDiscover();" [ngClass]="classDiscover" style="width: 16px; height: 16px; padding: 0"></span>
    </div>
    <ul [ngStyle]="{'display': displayDiscover}" style="list-style-type: none; margin: 0; padding: 0;">
      <li *ngIf="expression.complexWork" class="instr icon-right-dir"><a href={{expression.complexWork}}>Complex Work</a></li>
      <li *ngIf="expression.individualWork" class="instr icon-right-dir"><a href={{expression.individualWork}}>Individual Work</a></li>
      <li *ngIf="expression.expCreation" class="instr icon-right-dir"><a href={{expression.expCreation}}>Expression Creation</a></li>
    </ul>
  </div>
</div>
<div class="forever-scroll"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScroll();">
    <section class="expressions-list">
    	<infinite-list (change)="myIdChange($event);" class="infinite-list" [items]="items"></infinite-list>
    </section>
</div>
