@import "../../styles/dep/vars"
@import '../../../node_modules/material-shadows/material-shadows'

.forever-scroll
  height: auto;
  overflow: hidden;

.expression-detail
  .overview
    background main
    color white
    position relative
    overflow hidden
    &:before
      content ''
      background url(/static/img/bg/detail-overview-bg.png) center center no-repeat
      background-size 100em

      position absolute
      top 0
      left 0
      height 100%
      width 100%
      z-index 1

    // final 'triangle' of the overview
    &:after
      content ''
      background grayLight

      position absolute
      bottom 0
      left 0
      height 8em
      width 115%
      z-index 1
      transform rotate(-3deg) translateX(-2em) translateY(-4em)
      box-shadow 0 -15px 25px -14px grayDark

    .bg
      position absolute
      top 0
      left 0
      height 100%
      width 100%
      z-index 1
      opacity .4

      background transparent center center no-repeat
      background-size cover

    .overview-cont
      +above('m')
        display flex
        justify-content space-between

      padding 2em
      max-width pageWidthLimit
      margin auto
      position relative
      z-index 2

      .composer
        font 200 1.3em Roboto, sans-serif
        margin 0
        opacity .8

      .title
        color white
        font-weight 400
        margin .1em 0 0

      .other-title
        font-weight 200
        opacity .8
        margin-top .2em

      .work-note
        opacity .9
        font-weight 400
        margin 2em 0 1em
        p
          margin 0

    .title-cont
      flex 60
      padding-right 1em

    .info-cont
      flex 30
      position relative
      .info-card
        margin-top 3em
        background white
        color black
        padding 2em
        min-height 14em
        z-depth(3)

        label
          font-weight 400
          text-transform uppercase
          color main
          font-size .8em
          display block
          margin 0
        a
          color black
          text-transform capitalize
          text-decoration underline
        > div
          margin-bottom 1em
          display block


.main-text
  width 50%
  font-weight lighter
  flex 2 0 auto
  & > h2
    font-family Roboto, sans-serif
    font-size 1.4em
    font-weight bold
    color main
  & > p
    font-family Roboto, sans-serif
    font-weight normal
    font-size 1em
  & > div > span
    font-size 100%
    font-family Roboto, sans-serif
    font-weight normal
    &:before
      content: ", "
    &:first-of-type:before
      content none
    & > a
      color seaMedium
      font-family Roboto, sans-serif
      font-weight normal
      cursor pointer
      font-size 100%
  label
    margin-right .5em

.instr
  font-size 90%
  margin 0
  padding-left 20px
  cursor default

.card-container
  display inline-block
  vertical-align top
  padding .6em
  height 320px
  > md-card
    width 240px
    height 100%
    margin auto
    overflow hidden
    cursor pointer
    background #fff
