<search-comp *ngIf="sharedService.sharchBarVisible" (onFilterChanged)="getList($event, true)"></search-comp>

<router-outlet></router-outlet>

<div class="forever-scroll" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="100" (scrolled)="onScroll();">
  <section class="expressions-list">
    <div class="infinite-list">
      <div class="card-container " *ngFor="let expression of items">
        <md-card [routerLink]=[expression.id]>
          <md-card-header>
            <img md-card-avatar src="static/img/defPicExpr.png">
            <md-card-subtitle>{{expression.composer}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image alt="Main image" src="static/img/defPicExpr.png">
          <md-card-content>
            <h3>{{expression.title}}</h3>
          </md-card-content>
        </md-card>

      </div>
    </div>

  </section>
</div>
