@import "./vars"

primary = main
primaryDark = darken(main, 10)
primaryDarker = darken(main, 20)
accent  = #ff4081
accentDark = darken(accent,10)
accentDarker = darken(accent,20)
warn = #f44336
warnDarker = darken(warn,10)

.mat-option
    &.mat-selected
        color main

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate
    &.mat-primary
        background main
    &.mat-accent
        background accentDark
    &.mat-warn
        background warn

.mat-button,
.mat-icon-button
  &.mat-primary
    color main
  &.mat-accent
    color accent
  &.mat-warn
    color warn

.mat-icon-button
    &.mat-primary
        .mat-ripple-element
            background-color alpha(main,.26)
    &.mat-accent
        .mat-ripple-element
            background-color alpha(accentDark,.26)
    &.mat-warn
        .mat-ripple-element
            background-color alpha(warn,.26)

.mat-fab,
.mat-mini-fab,
.mat-raised-button
  &.mat-primary
    background-color main
  &.mat-accent
    background-color accent
  &.mat-warn
    background-color warn

.mat-fab,.mat-mini-fab
    background-color accent

.mat-checkbox-checked,
.mat-checkbox-background,
.mat-checkbox-indeterminate
  &.mat-primary
    &, .mat-checkbox-background
      background-color main
  &.mat-accent
    &, .mat-checkbox-background
      background-color accentDark
  &.mat-warn
    &, .mat-checkbox-background
      background-color warn

.mat-checkbox
    &:not(.mat-checkbox-disabled).mat-primary
        .mat-checkbox-ripple
            .mat-ripple-element
                background-color alpha(primaryDark,.26)
    &:not(.mat-checkbox-disabled).mat-accent
        .mat-checkbox-ripple
            .mat-ripple-element
                background-color alpha(accent,.26)
    &:not(.mat-checkbox-disabled).mat-warn
        .mat-checkbox-ripple
            .mat-ripple-element
                background-color alpha(warn,.26)

.mat-chip
    &.mat-chip-selected
        &:not(.mat-basic-chip).mat-primary
            background-color main
        &:not(.mat-basic-chip).mat-accent
            background-color accentDark
        &:not(.mat-basic-chip).mat-warn
            background-color warn

.mat-icon
    &.mat-primary
        color main
    &.mat-accent
        color accent
    &.mat-warn
        color warn

.mat-focused
    .mat-input-placeholder
        color main
        &.mat-accent
            color accent
        &.mat-warn
            color warn

.mat-focused .mat-input-placeholder.mat-float .mat-placeholder-required,input.mat-input-element:-webkit-autofill+.mat-input-placeholder .mat-placeholder-required
    color accent

.mat-input-underline
    .mat-input-ripple
        background-color main
        &.mat-accent
            background-color accent
        &.mat-warn
            background-color warn

.mat-input-invalid .mat-input-placeholder,.mat-input-invalid .mat-placeholder-required
    color warn

.mat-input-invalid
    .mat-input-underline
        border-color warn
    .mat-input-ripple
        background-color warn

.mat-input-error
    color warn

.mat-progress-bar-fill
    &::after
        background-color primaryDarker

.mat-progress-bar
    &.mat-accent
        .mat-progress-bar-buffer
            background-color lighten(accent, 22)
        .mat-progress-bar-fill
            &::after
                background-color accentDarker
    &.mat-warn
        .mat-progress-bar-buffer
            background-color lighten(warn, 22)
        .mat-progress-bar-fill
            &::after
                background-color warnDarker

.mat-progress-spinner path,.mat-spinner path
    stroke primaryDarker

.mat-progress-spinner.mat-accent path,.mat-spinner.mat-accent path
    stroke accentDarker

.mat-progress-spinner.mat-warn path,.mat-spinner.mat-warn path
    stroke warnDarker

.mat-radio-checked
    .mat-radio-outer-circle
        border-color accent

.mat-radio-inner-circle
    background-color accent

.mat-radio-ripple
    .mat-ripple-element
        background-color alpha(accent,.26)

.mat-select
    &:focus
        &:not(.mat-select-disabled)
            .mat-select-trigger
                color main
            .mat-select-underline
                background-color main
            .mat-select-arrow
                color main
    &:not(:focus).ng-invalid
        &.ng-touched
            &:not(.mat-select-disabled)
                .mat-select-trigger
                    color warn
                .mat-select-underline
                    background-color warn
                .mat-select-arrow
                    color warn

.mat-slide-toggle
    &.mat-checked
        &:not(.mat-disabled)
            .mat-slide-toggle-thumb
                background-color accent
            .mat-slide-toggle-bar
                background-color alpha(accentDark,.5)
    .mat-ripple-element
        background-color alpha(accentDark,.12)
    &.mat-primary
        &.mat-checked
            &:not(.mat-disabled)
                .mat-slide-toggle-thumb
                    background-color main
                .mat-slide-toggle-bar
                    background-color alpha(primaryDark,.5)
        .mat-ripple-element
            background-color alpha(primaryDark,.12)
    &.mat-warn
        &.mat-checked
            &:not(.mat-disabled)
                .mat-slide-toggle-thumb
                    background-color warn
                .mat-slide-toggle-bar
                    background-color alpha(warn,.5)
        .mat-ripple-element
            background-color alpha(warn,.12)

.mat-primary .mat-slider-thumb,.mat-primary .mat-slider-thumb-label,.mat-primary .mat-slider-track-fill
    background-color main

.mat-accent .mat-slider-thumb,.mat-accent .mat-slider-thumb-label,.mat-accent .mat-slider-track-fill
    background-color accent

.mat-warn .mat-slider-thumb,.mat-warn .mat-slider-thumb-label,.mat-warn .mat-slider-track-fill
    background-color warn

.mat-slider-focus-ring
    background-color alpha(accent,.2)

.mat-ink-bar
    background-color main

.mat-toolbar
    &.mat-primary
        background main
    &.mat-accent
        background accent
    &.mat-warn
        background warn
