/* COLORS */
grayLight = #ededed
grayMedium = #8a8a8a
grayDark = #222
main = #c62c24
mainDark = #631a19
seaMedium = #2EC4B6
seaLight = rgba(#2ec4b6, 0.71)
orangeMedium = #FF9F1C
/* MEASURES */
pageWidthLimit = 1280px

/* ANIMATIONS */
materialBezier = cubic-bezier(.55,0,.1,1)
