<div class="top-nav">
  <button mat-icon-button id="openNav" (click)="openNav()">
    <mat-icon class="mdi mdi-dots-vertical"></mat-icon>
  </button>

  <span class="flex-span"></span>

  <a [routerLink]="['']" title="Overture Home" class="fullLogo">Overture</a>

  <span class="flex-span"></span>

  <nav class="navigation" [ngClass]="{'open': showNav}">
    <div class="close-nav">
      <button mat-icon-button disableRipple id="closeNav" (click)="closeNav()">
        <mat-icon class="mdi mdi-close"></mat-icon>
      </button>
    </div>

    <a *ngFor="let r of routes" [routerLink]="r.name" [routerLinkActive]="'active'" (click)="closeNav()">{{r.label}}</a>
  </nav>

  <span class="flex-span"></span>

  <button mat-icon-button disableRipple id="openSearch" class="light" (click)="openSearch()">
    <mat-icon class="mdi mdi-magnify"></mat-icon>
  </button>

  <div class="search-bar" [ngClass]="{'open': showSearch}">
    <form (ngSubmit)="onSearchSubmit($event)" #fullSearchForm="ngForm">
      <input #fullSearchInput type="search" class="fullSearch" placeholder="Search for something (i.e. Sonata, Mozart, ...)" [(ngModel)]="searchInput" name="search" on-focusout="closeSearch()" required />
    </form>

    <button mat-icon-button disableRipple id="openSearch" (click)="closeSearch()">
      <mat-icon class="mdi mdi-close"></mat-icon>
    </button>

  </div>
</div>
