.searchcontainerhid
	height 0
	overflow hidden

.searchcontainer
	padding 2em 0
	height auto

.searchbox
	background #fff
	padding 2em 2em
	z-depth(1)
	border-radius 0.3em
	& > form
		display flex
		flex-flow row wrap
		& > div
			display flex
			flex-flow row wrap
			& > label
				align-self center

ng-select
	width auto
	padding 0 12px
	margin 8px 8px
	display inline-block
	border-radius 4px
	box-sizing border-box
