/* global imports */
@import 'fontello';

/* global styles */
h1
  color #369
  font-family 'Lato', sans-serif
  font-size 250%

h2
  color #9e009e
  font-family 'Lato', sans-serif
  font-weight lighter

h3
  color #963
  font-family 'Lato', sans-serif
  font-weight lighter

body
  margin auto
  display block
  background-image url("../img/back2.jpg")
  background-size 100% 100%
  background-position bottom
  background-repeat no-repeat

my-app
  margin-top 60px
  display flex
  flex-flow column nowrap
  min-height 100vh
  color #888
  font-family 'Lato', sans-serif

.header, .footer
  height 60px
  padding auto
  width 100%
  background-color white
  box-shadow 0px 0px 2px rgba(51, 102, 153, 0.5)
  padding 0
  margin 0
  z-index 9998

.header
  position fixed
  top 0
.footer
  position fixed
  bottom 0
  height 30px
  align-self flex-end
  & > p
    line-height 30px
    text-align center
    margin 0

.aside
  z-index 9999

.main
  align-self flex-start
  margin 20px auto
  flex 1 0 auto
  height auto
  display flex
  flex-flow column wrap
  max-width 1280px

.btn-primary
  background-color #e7892b
  border-color #d47c24
  &:hover, &:focus
    background-color #d47c24 !important
    border-color #d47c24 !important
    box-shadow none

.selected {
  background-color #CFD8DC !important
  color white
}

.workSubDetail {
  margin 0 0 2em 0
  list-style-type none
  padding 0
  width 100%
  display flex
  flex-flow row wrap
}
.workSubDetail li {
  flex 1
  width auto
  cursor pointer
  left 0
  background-color #EEE
  margin .5em
  padding .3em 0
  height 1.6em
  border-radius 4px
}
.workSubDetail li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.workSubDetail li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.workSubDetail .badge {
  display inline-block
  font-size small
  color white
  padding 0.8em 0.7em 0 0.7em
  background-color #607D8B
  line-height 1em
  position relative
  left -1px
  top -4px
  height 1.8em
  margin-right .8em
  border-radius 4px 0 0 4px
  width auto
}


/* component-specific styles */
/* TODO consider about load it on needed */
@import 'components/left-menu'
@import 'components/top-info'
@import 'components/top-nav'
@import 'components/performance-tab'
@import 'components/work-tab'
@import 'components/recommendations'
@import 'tabs'
