<div class="searchbox">
  <form class="main">

    <md-input-container class="field">
      <input mdInput placeholder="Title" [(ngModel)]="filter.title" name="title" (ngModelChange)="changeFilter($event)" />
    </md-input-container>

    <md-input-container class="field">
      <input mdInput placeholder="Composer" [(ngModel)]="filter.composer" name="composer" (ngModelChange)="changeFilter($event)" />
    </md-input-container>

    <md-select class="field" [(ngModel)]="filter.key" name="filter.key" (ngModelChange)="changeFilter($event)" placeholder="Musical Key">
      <md-option [value]=''>all</md-option>
      <md-option *ngFor="let key of itemsKey" [value]="key.id">{{key.label}}</md-option>
    </md-select>

    <md-select class="field" [(ngModel)]="filter.genre" name="filter.genre" (ngModelChange)="changeFilter($event)" placeholder="Genre">
      <md-option [value]=''>all</md-option>
      <md-option *ngFor="let genre of itemsGenre" [value]="genre.id">{{genre.label}}</md-option>
    </md-select>

  </form>
</div>
