@import '../../../node_modules/material-shadows/material-shadows'

.searchbox
  margin 1em 1em 0
  form
    margin 0
  .field
    display inline-block
    vertical-align baseline
    min-height 3em
    min-width 15em
    margin-right 2em
    margin-bottom 1em
