@import '../../../node_modules/material-shadows/material-shadows'

.searchbox
  margin 1em 1em 0
  form
    margin 0
  .field
    display inline-block
    vertical-align top
    min-height 3em
    min-width 15em
    margin-right 2em
  ng-select, md-input
    width auto
    min-width 15em
    display block
  ng-select
    .form-control
      display: none
  select
    display block
    border none
    border-radius 0
    border-bottom 1px solid #333
    width 15em
    -webkit-appearance none
    padding .1em
    background none
    outline none
    &:hover
      background #eee

  label
    font-size .8em
    margin-bottom 0
