<div class="searchbox">
  <form class="main">
    <div class="field">
      <md-input placeholder="Title" [(ngModel)]="filter.title" name="title" (ngModelChange)="changeFilter($event)"></md-input>
    </div>
    <div class="field">
      <label>Key</label>
      <!-- <ng-select #selKey [allowClear]="true" [items]="itemsKey" [disabled]="disabled" (data)="onSelectChanged($event, 'key')" placeholder="All keys"></ng-select><br> -->
      <select [(ngModel)]="filter.key" name="key" (ngModelChange)="changeFilter($event)">
        <option selected value=''>All keys</option>
        <option *ngFor="let key of itemsKey" value="{{key.id}}">{{key.label}}</option>
      </select>
    </div>
    <div class="field">
      <label>Genre</label>
      <!-- <ng-select #selGenre [allowClear]="true" [items]="itemsGenre" [disabled]="disabled" (data)="onSelectChanged($event, 'genre')" placeholder="All genres"></ng-select> -->
      <select [(ngModel)]="filter.genre" name="genre" (ngModelChange)="changeFilter($event)">
        <option selected value=''>All genres</option>
        <option *ngFor="let genre of itemsGenre" value="{{genre.id}}">{{genre.label}}</option>
      </select>
    </div>
  </form>
</div>
