@import '../../../node_modules/material-shadows/material-shadows'

.searchbox
  background #fff
  padding 2em 2em
  z-depth(2)
  .field
    display inline-block
    vertical-align top
    margin-right 2em

  ng-select, md-input
    width auto
    min-width 15em
    display block

  label
    font-size .8em
    margin-bottom 0
