<div class="searchbox">
  <form>
    <div class="field">
      <md-input placeholder="Title" [(ngModel)]="filter.title" name="title" (ngModelChange)="changeFilter($event)"></md-input>
    </div>
    <div class="field">
      <label>Key</label>
      <ng-select #selKey *ngIf="itemsKey" [allowClear]="true" [items]="itemsKey" [disabled]="disabled" (data)="onSelectChanged($event, 'key')" placeholder="All keys"></ng-select><br>
    </div>
    <div class="field">
      <label>Genre</label>
      <ng-select #selGenre *ngIf="itemsGenre" [allowClear]="true" [items]="itemsGenre" [disabled]="disabled" (data)="onSelectChanged($event, 'genre')" placeholder="All genres"></ng-select>
    </div>
  </form>
</div>
